nav{
  width:100%;
  display: flex;
}
nav ul,li{
  border-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
nav li{
  align-items: center;
}
nav a{
  color: #fff;
}
nav a:hover {
  border-color: #1c87c9;
  text-decoration: underline #fff;
  color: #fff;
}
.paciente{
  background-color: #e8bd41;
  color: #fff;
  margin-left: 80px;
}
.profesional{
  background-color: #d94353;
  color: #fff;
  margin-left: 80px;
}
.doctor{
  background-color: #34adbb;
  color: #fff;
  margin-left: 80px;
}
/*HEADER DOCTORES*/
.inicio{
  background-color: #e8bd41;
  color: #fff;
  margin-left: 50px;
}
.algoritmo{
  background-color: #e56730;
  color: #fff;
  margin-left: 40px;
}
.calculadora{
  background-color: #e5424e;
  color: #fff;
  margin-left: 40px;
}
.descarga{
  background-color: #b74494;
  color: #fff;
  margin-left: 40px;
}
.casos{
  background-color: #37b2bc;
  color: #fff;
  margin-left: 40px;
}
.portafolio{
  background-color: #37bc7a;
  color: #fff;
  margin-left: 40px;
}
/*HEADER PACIENTES*/
.apoyo{
  background-color: #e56730;
  color: #fff;
  margin-left: 40px;
}
.alimenta{
  background-color: #e5424e;
  color: #fff;
  margin-left: 40px;
}
.actividad{
  background-color: #b74494;
  color: #fff;
  margin-left: 40px;
}
.comunidad{
  background-color: #37b2bc;
  color: #fff;
  margin-left: 40px;
}
/*SEGUNDO HEADER*/
.scroll-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}